{% extends 'core/base.html' %}
{% block title %}Categorias{% endblock %}

{% block content %}
<h2>Categorias</h2>
<a href="#" class="btn btn-primary mb-3">Nova Categoria</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

