{% extends 'core/base.html' %}
{% block title %}Categorias{% endblock %}

{% block content %}
<h2>Categorias</h2>
<table class="table table-striped mt-3">
    <div class="mt-4 d-flex gap-2">
        <a href="{% url 'create_category' %}">
            <button class="btn btn-primary">Nova Categoria</button>
        </a>
        <a href="{% url 'home' %}">
            <button class="btn btn-secondary">Voltar</button>
        </a>
    </div>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Ações</th>

        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td>
                <div class="btn-group" role="group">
                    <a href="{% url 'update_category' category.id %}">
                        <button type="button" class="btn btn-primary btn-sm me-2">Editar</button>
                    </a>
                    <a href="{% url 'delete_category' category.id %}">
                        <button type="button" class="btn btn-danger btn-sm md-2">Excluir</button>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

