{% extends 'base.html' %}
{% block title %}Categorias{% endblock %}

{% block content %}
<h2>Categorias</h2>
<a href="{% url 'category_create' %}" class="btn btn-primary mb-3">Nova Categoria</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.nome }}</td>
            <td>{{ category.descricao }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
